.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #40513B;
    border: 1px solid #40513B;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    margin: 5px;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #475941;
    border-color: #40513B;
  }